In [8]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np

In [9]:
df = pd.read_parquet('../data/01-07-2023/FEATURE_DATA_FMT').reset_index()
df

,CUSTOMER_CDE,CASA_HOLD,CARD_CREDIT_HOLD,EB_SACOMPAY_HOLD,EB_MBIB_HOLD,LOR,CREDIT_SCORE,CASA_BAL_SUM_NOW,CASA_DAY_SINCE_LAST_TXN_CT_36M,CARD_CREDIT_MAX_LIMIT,CARD_CREDIT_SUM_BAL_NOW,EB_SACOMPAY_DAY_SINCE_LTST_LOGIN,EB_SACOMPAY_DAY_SINCE_LTST_TXN,EB_MBIB_DAY_SINCE_ACTIVE,LIFE_STG,AREA
0,10358026,1.0,NaN,NaN,NaN,2283.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Bắt đầu sự nghiệp,VN0010006
1,7911128,NaN,NaN,NaN,NaN,2734.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Cuối sự nghiệp,VN0010006
2,17163143,1.0,NaN,NaN,1.0,310.0,NaN,67093.0,1,NaN,NaN,NaN,NaN,309.668368,Lập gia đình,VN0010006
3,226920,NaN,NaN,NaN,NaN,5075.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Bảo vệ tài sản,VN0010006
4,88639,1.0,NaN,NaN,NaN,5033.0,NaN,190.0,1095,NaN,NaN,NaN,NaN,NaN,Bảo vệ tài sản,VN0010007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593957,9925020,1.0,NaN,NaN,1.0,2396.0,NaN,56080.0,1,NaN,NaN,NaN,NaN,NaN,Thiết lập tài sản,VN0010006
16593958,314826,NaN,NaN,NaN,NaN,5075.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Thiết lập tài sản,VN0010006
16593959,5204101,NaN,NaN,NaN,NaN,3321.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Nghỉ hưu,VN0010007
16593960,15656078,1.0,NaN,NaN,1.0,806.0,NaN,51294.0,1,NaN,NaN,NaN,NaN,805.339039,Thiết lập tài sản,VN0010006
16593961,12437787,NaN,NaN,NaN,NaN,1715.0,NaN,NaN,1095,NaN,NaN,NaN,NaN,NaN,Lập gia đình,VN0010007

In [10]:
df.columns

Index(['CUSTOMER_CDE', 'CASA_HOLD', 'CARD_CREDIT_HOLD', 'EB_SACOMPAY_HOLD',
       'EB_MBIB_HOLD', 'LOR', 'CREDIT_SCORE', 'CASA_BAL_SUM_NOW',
       'CASA_DAY_SINCE_LAST_TXN_CT_36M', 'CARD_CREDIT_MAX_LIMIT',
       'CARD_CREDIT_SUM_BAL_NOW', 'EB_SACOMPAY_DAY_SINCE_LTST_LOGIN',
       'EB_SACOMPAY_DAY_SINCE_LTST_TXN', 'EB_MBIB_DAY_SINCE_ACTIVE',
       'LIFE_STG', 'AREA'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16593962 entries, 0 to 16593961
Data columns (total 16 columns):
 #   Column                            Dtype
---  ------                            -----
 0   CUSTOMER_CDE                      object
 1   CASA_HOLD                         float64
 2   CARD_CREDIT_HOLD                  float64
 3   EB_SACOMPAY_HOLD                  float64
 4   EB_MBIB_HOLD                      float64
 5   LOR                               float64
 6   CREDIT_SCORE                      float64
 7   CASA_BAL_SUM_NOW                  float64
 8   CASA_DAY_SINCE_LAST_TXN_CT_36M    int64
 9   CARD_CREDIT_MAX_LIMIT             float64
 10  CARD_CREDIT_SUM_BAL_NOW           float64
 11  EB_SACOMPAY_DAY_SINCE_LTST_LOGIN  float64
 12  EB_SACOMPAY_DAY_SINCE_LTST_TXN    float64
 13  EB_MBIB_DAY_SINCE_ACTIVE          float64
 14  LIFE_STG                          object
 15  AREA                              object
dtypes: float64(12), int64(1), object(3)
memory usage: 2.0+ GB