In [1]:
from util import *

['Solarize_Light2', '_classic_test_patch', '_mpl-gallery', '_mpl-gallery-nogrid', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-v0_8', 'seaborn-v0_8-bright', 'seaborn-v0_8-colorblind', 'seaborn-v0_8-dark', 'seaborn-v0_8-dark-palette', 'seaborn-v0_8-darkgrid', 'seaborn-v0_8-deep', 'seaborn-v0_8-muted', 'seaborn-v0_8-notebook', 'seaborn-v0_8-paper', 'seaborn-v0_8-pastel', 'seaborn-v0_8-poster', 'seaborn-v0_8-talk', 'seaborn-v0_8-ticks', 'seaborn-v0_8-white', 'seaborn-v0_8-whitegrid', 'tableau-colorblind10']
Connected DB CINS_SMY - conn
Connected oraDW_ANALYTICS - conn_aly

In [ ]:
cohort06_query = """WITH 
T0 AS (
    SELECT * FROM CINS_REACTIVATED_SCORE_01062023
),
T1 AS (
    SELECT * FROM CINS_FEATURE_STORE_REACTIVATED_01062023
    WHERE FTR_NM = 'REACTIVATED'
),
T2 AS (
    SELECT T0.*, T1.FTR_VAL AS REACTIVATED
    FROM T0 LEFT JOIN T1 ON T0.CUSTOMER_CDE = T1.CUSTOMER_CDE
    WHERE T0.CUSTOMER_CDE IS NOT NULL)
SELECT * FROM T2"""

In [ ]:
cohort07_query = """WITH 
T0 AS (
    SELECT * FROM CINS_REACTIVATED_SCORE_01072023
),
T1 AS (
    SELECT * FROM CINS_FEATURE_STORE_REACTIVATED_01072023
    WHERE FTR_NM = 'REACTIVATED'
),
T2 AS (
    SELECT T0.*, T1.FTR_VAL AS REACTIVATED
    FROM T0 LEFT JOIN T1 ON T0.CUSTOMER_CDE = T1.CUSTOMER_CDE
    WHERE T0.CUSTOMER_CDE IS NOT NULL)
SELECT * FROM T2"""

In [ ]:
cohort08_query = """WITH 
T0 AS (
    SELECT * FROM CINS_REACTIVATED_SCORE_01082023
),
T1 AS (
    SELECT * FROM CINS_FEATURE_STORE_REACTIVATED_01082023
    WHERE FTR_NM = 'REACTIVATED'
),
T2 AS (
    SELECT T0.*, T1.FTR_VAL AS REACTIVATED
    FROM T0 LEFT JOIN T1 ON T0.CUSTOMER_CDE = T1.CUSTOMER_CDE
    WHERE T0.CUSTOMER_CDE IS NOT NULL)
SELECT * FROM T2"""

In [ ]:
# cohort06 = download_or_reload('data/COHORT_06_TEST', cohort06_query)
# cohort06.columns = [i +'_06' for i in cohort06.columns]
# cohort07 = download_or_reload('data/COHORT_07_TEST', cohort07_query)
# cohort07.columns = [i +'_07' for i in cohort07.columns]
# cohort08 = download_or_reload('data/COHORT_08_TEST', cohort08_query)
# cohort08.columns = [i +'_08' for i in cohort08.columns]
# df = cohort06.merge(cohort07, how='inner', left_on='CUSTOMER_CDE_06', right_on='CUSTOMER_CDE_07')
# df = df.merge(cohort08, how='inner', left_on='CUSTOMER_CDE_06', right_on='CUSTOMER_CDE_08')
# df.to_parquet('data/COHORT_06_ALY')

In [2]:
df = pd.read_parquet('data/COHORT_06_ALY')

In [3]:
df

,CUSTOMER_CDE_06,SCORE_06,REACTIVATED_06,CUSTOMER_CDE_07,SCORE_07,REACTIVATED_07,CUSTOMER_CDE_08,SCORE_08,REACTIVATED_08
0,18116728,1.000000,None,18116728,1.000000,None,18116728,0.999999,None
1,17975189,1.000000,None,17975189,1.000000,None,17975189,0.999999,None
2,17994788,1.000000,None,17994788,0.999999,None,17994788,0.999999,None
3,18129908,1.000000,None,18129908,1.000000,None,18129908,0.999999,None
4,5412267,1.000000,None,5412267,1.000000,None,5412267,1.000000,None
...,...,...,...,...,...,...,...,...,...
16593954,18435254,0.000044,None,18435254,0.000044,None,18435254,0.000044,None
16593955,18722356,0.000044,None,18722356,0.000044,None,18722356,0.000044,None
16593956,18211613,0.000044,None,18211613,0.000044,None,18211613,0.999976,None
16593957,18160608,0.000044,None,18160608,0.008312,None,18160608,0.003813,None
16593958,18635204,0.000044,None,18635204,0.000044,None,18635204,0.000044,None

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16593959 entries, 0 to 16593958
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   CUSTOMER_CDE_06  object
 1   SCORE_06         float64
 2   REACTIVATED_06   object
 3   CUSTOMER_CDE_07  object
 4   SCORE_07         float64
 5   REACTIVATED_07   object
 6   CUSTOMER_CDE_08  object
 7   SCORE_08         float64
 8   REACTIVATED_08   object
dtypes: float64(3), object(6)
memory usage: 1.2+ GB

In [15]:
df1 = df[df['REACTIVATED_06']!='1'].sort_values(by='SCORE_06', ascending=False)[:500000]

In [16]:
df1['REACTIVATED_06'].value_counts(dropna=False)

None    500000
Name: REACTIVATED_06, dtype: int64

In [17]:
df1['REACTIVATED_07'].value_counts(dropna=False)

None    500000
Name: REACTIVATED_07, dtype: int64