# SPARK

In [1]:
from pyspark.sql import SparkSession
import os

In [2]:
spark = SparkSession.builder\
    .appName("ETL")\
    .config("spark.executor.extraJavaOptions","-Dhttps.proxyHost=http://proxy365.sacombank.com -Dhttps.proxyPort=1985")\
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 13:33:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read\
    .format("jdbc")\
    .option("url", "jdbc:oracle:thin:@192.168.124.204:1521/X7DWDEV")\
    .option("driver","oracle.jdbc.driver.OracleDriver")\
    .option("user","CINS_ADS")\
    .option("password","Oracle#123")\
    .option("fetchsize", 100000)\
    .option("query","select * from USER_TAB_COLUMNS")\
    .load()
df.write.parquet("./data/USER_TAB_COLUMNS")

24/03/06 13:33:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

AnalysisException: path file:/config/workspace/feature-store/feature_store/adhoc/analyse-db/DW_ANALYTICS/data/USER_TAB_COLUMNS already exists.

In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.image as mpimg

In [5]:
df = pd.read_parquet('./data/USER_TAB_COLUMNS')
df

,TABLE_NAME,COLUMN_NAME,DATA_TYPE,DATA_TYPE_MOD,DATA_TYPE_OWNER,DATA_LENGTH,DATA_PRECISION,DATA_SCALE,NULLABLE,COLUMN_ID,...,CHAR_USED,V80_FMT_IMAGE,DATA_UPGRADED,HISTOGRAM,DEFAULT_ON_NULL,IDENTITY_COLUMN,EVALUATION_EDITION,UNUSABLE_BEFORE,UNUSABLE_BEGINNING,COLLATION
0,TOI_TRANSFORM1,UPDATED_AT,DATE,None,None,7.0000000000,None,None,Y,6.0000000000,...,None,NO,YES,NONE,NO,NO,None,None,None,None
1,TOI_TRANSFORM1,CREATED_AT,DATE,None,None,7.0000000000,None,None,Y,5.0000000000,...,None,NO,YES,NONE,NO,NO,None,None,None,None
2,TOI_TRANSFORM1,VALUE,NUMBER,None,None,22.0000000000,38.0000000000,6.0000000000,Y,4.0000000000,...,None,NO,YES,NONE,NO,NO,None,None,None,None
3,TOI_TRANSFORM1,TYPE,VARCHAR2,None,None,8.0000000000,None,None,Y,3.0000000000,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
4,TOI_TRANSFORM1,TOI_TIME,VARCHAR2,None,None,16.0000000000,None,None,Y,2.0000000000,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6015,V_CHECKLIST_CINS,TARGET,NUMBER,None,None,22.0000000000,None,None,Y,4.0000000000,...,None,NO,N/A,NONE,NO,NO,None,None,None,None
6016,C$_0DD_YR_BGN,CST_CODE,VARCHAR2,None,None,15.0000000000,None,None,Y,1.0000000000,...,B,NO,N/A,NONE,NO,NO,None,None,None,USING_NLS_COMP
6017,C$_0A0VPL8M5U81GVI407K2A1FPBNQ,CST_CODE,VARCHAR2,None,None,50.0000000000,None,None,Y,1.0000000000,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
6018,C$_0AMPQEB5U27IN614S7TDN8L6ALE,CATEGORY_CDE,VARCHAR2,None,None,15.0000000000,None,None,Y,2.0000000000,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
6019,V_CINS_TOI_TRANSFORM,VALUE,NUMBER,None,None,22.0000000000,38.0000000000,6.0000000000,Y,2.0000000000,...,None,NO,N/A,NONE,NO,NO,None,None,None,None

In [6]:
df['TABLE_NAME'].nunique()

703

In [7]:
df1 = df[df['TABLE_NAME'].apply(lambda x: x.startswith('DW'))]

In [8]:
df1['TABLE_NAME'].nunique()

14

In [9]:
df1['TABLE_NAME'].unique()

array(['DW_CUSTOMER_DIM', 'DW_ORG_LOCATION_DIM', 'DW_TIME_DAY_DIM',
       'DW_CASA_ACCOUNT_MASTER_DIM', 'DW_EWALL_TRANSACTION_FCT_TEST',
       'DW_CARD_PRODUCT_DIM', 'DWL_PRODUCT_MASTER_DIM',
       'DWA_STMT_EBANK_TEST', 'DWA_STMT_EBANK_TEST_02',
       'DW_CARD_TRANSACTION_FCT', 'DW_CUST_PRODUCT_LOC_FCT_TEST',
       'DW_EWALL_ACCT_BAL_FCT_TEST', 'DW_SBVCODE_DIM',
       'DW_EB_UTTT_TRANSACTION_FCT_TEST'], dtype=object)

In [10]:
df1[df1['TABLE_NAME'].apply(lambda x: 'DW_DATA_SOURCE' in x)]['TABLE_NAME'].unique()

array([], dtype=object)