In [1]:
from util import *

['Solarize_Light2', '_classic_test_patch', '_mpl-gallery', '_mpl-gallery-nogrid', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-v0_8', 'seaborn-v0_8-bright', 'seaborn-v0_8-colorblind', 'seaborn-v0_8-dark', 'seaborn-v0_8-dark-palette', 'seaborn-v0_8-darkgrid', 'seaborn-v0_8-deep', 'seaborn-v0_8-muted', 'seaborn-v0_8-notebook', 'seaborn-v0_8-paper', 'seaborn-v0_8-pastel', 'seaborn-v0_8-poster', 'seaborn-v0_8-talk', 'seaborn-v0_8-ticks', 'seaborn-v0_8-white', 'seaborn-v0_8-whitegrid', 'tableau-colorblind10']
Add path ../../..
Connected DB - conn
Connected oraDW_ANALYTICS - conn_aly

In [2]:
import os
import numpy as np

In [3]:
import matplotlib.image as mpimg

In [4]:
from IPython.display import HTML

In [5]:
def download_or_reload(saved_file):
    if not os.path.exists(saved_file):
        query = """select * from USER_TAB_COLUMNS"""
        cur_aly.execute(query)
        result = cur_aly.fetchall()
        column_names = [c[0] for c in cur_aly.description]
        df = pd.DataFrame(result, columns=column_names)
        df.to_pickle(saved_file)
    df = pd.read_pickle(saved_file)
    print(f'Len {len(df)}')
    return df

In [7]:
df = download_or_reload('./data/USER_TAB_COLUMNS')

Len 17180

In [8]:
df

,TABLE_NAME,COLUMN_NAME,DATA_TYPE,DATA_TYPE_MOD,DATA_TYPE_OWNER,DATA_LENGTH,DATA_PRECISION,DATA_SCALE,NULLABLE,COLUMN_ID,...,CHAR_USED,V80_FMT_IMAGE,DATA_UPGRADED,HISTOGRAM,DEFAULT_ON_NULL,IDENTITY_COLUMN,EVALUATION_EDITION,UNUSABLE_BEFORE,UNUSABLE_BEGINNING,COLLATION
0,TMP_CREDIT_CARD_TRANSACTION,AMT_FEE,NUMBER,None,None,22,38.0,6.0,Y,14,...,None,NO,YES,FREQUENCY,NO,NO,None,None,None,None
1,TMP_CREDIT_CARD_TRANSACTION,TXN_OM_CDE,VARCHAR2,None,None,10,NaN,NaN,Y,13,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
2,TMP_CREDIT_CARD_TRANSACTION,TXN_OL_CDE,VARCHAR2,None,None,1,NaN,NaN,Y,12,...,B,NO,YES,FREQUENCY,NO,NO,None,None,None,USING_NLS_COMP
3,TMP_CREDIT_CARD_TRANSACTION,MCC_CDE,NUMBER,None,None,22,10.0,0.0,Y,11,...,None,NO,YES,TOP-FREQUENCY,NO,NO,None,None,None,None
4,TMP_CREDIT_CARD_TRANSACTION,PRODUCT_CDE,VARCHAR2,None,None,10,NaN,NaN,Y,10,...,B,NO,YES,TOP-FREQUENCY,NO,NO,None,None,None,USING_NLS_COMP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17175,C$_0ASV03BHFC8USH2DN7UQCH58RPD,PROCESS_DT,DATE,None,None,7,NaN,NaN,Y,5,...,None,NO,YES,NONE,NO,NO,None,None,None,None
17176,C$_1AD6UHNASVEJT6GFT7T5RM169D8,SUB_BRANCH_CDE,VARCHAR2,None,None,15,NaN,NaN,Y,1,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
17177,C$_5AGG_STMT_T4AAFRIH4IRGQA304I6JG0RKDUUM,ACCOUNT_NUMBER,VARCHAR2,None,None,255,NaN,NaN,Y,1,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
17178,C$_DAGG_STMT_T12AR762PKDAGLTVGHH7UNAOK9P90,ACCOUNT_NUMBER,VARCHAR2,None,None,255,NaN,NaN,Y,1,...,B,NO,YES,NONE,NO,NO,None,None,None,USING_NLS_COMP
17179,C$_0ACI8NF87NUCCEJLA6K0BU5O795,ACTIVE,NUMBER,None,None,22,NaN,0.0,Y,6,...,None,NO,YES,NONE,NO,NO,None,None,None,None

In [9]:
df['TABLE_NAME'].nunique()

2362

In [10]:
df1 = df[df['TABLE_NAME'].apply(lambda x: x.startswith('DW'))]

In [11]:
df1['TABLE_NAME'].nunique()

95

In [12]:
df1['TABLE_NAME'].unique()

array(['DW_ORG_BRANCH_DIM', 'DW_CARD_TRANSACTION_FCT', 'DW_CUSTOMER_DIM',
       'DW_ACCOUNT_MASTER_DIM', 'DW_CARD_MERCHANT_DIM',
       'DW_CARD_PRODUCT_DIM', 'DW_CARD_TERMINAL_DIM',
       'DW_COLLATERAL_TYPE_DIM', 'DW_DAO_DIM', 'DW_DEPOSIT_MASTER_DIM',
       'DW_EB_PARTNER_DIM', 'DW_EB_TRANSACTION_TYPE_DIM',
       'DW_EB_UTTT_CPAY_DIM', 'DW_EB_UTTT_PARTNER_DIM',
       'DW_EWALL_PRODUCT_DIM', 'DW_EWALL_PROVIDER_DIM', 'DW_INDUSTRY_DIM',
       'DW_INS_CUSTOMER_DIM', 'DW_INS_PRODUCT_DIM',
       'DW_INTEREST_OF_RANGE_DIM', 'DW_ORG_LOCATION_DIM',
       'DWL_PRODUCT_MASTER_DIM', 'DW_CARD_MASTER_DIM',
       'DW_CUSTOMER_FULL_DIM', 'DW_LOS_CUSTOMER_INCOME',
       'DW_EB_BILL_PARTNER_DIM', 'DW_NAS_ALERT_SUBSCRIPTION',
       'DW_CUSTOMER_CHANGE_FCT', 'DW_EB_BILL_TRANSACTION_FCT',
       'DW_EB_UTTT_TRANSACTION_FCT', 'DW_EWALL_TRANSACTION_FCT',
       'DW_INS_POLICY_FCT', 'DWD_CLOSED_DEPOSIT_FCT', 'DWA_CARD_TOI_FCT',
       'DW_EWALL_ACCT_BAL_FCT', 'DW_COLLATERAL_FCT',
       'DW_CUSTOMER_RELATION', 'DW_EB_CUSTOMER_BILL_PAYEE',
       'DW_EB_TRANSACTION_FCT', 'DW_GL_STATEMENT_PL_FCT',
       'DW_DEPOSIT_FCT', 'DW_LIMIT_FCT', 'DWD_LOAN_PROVISION_FCT',
       'DWA_STMT_EBANK', 'DWD_TOI_FCT', 'DW_CARD_FCT', 'DW_EB_USER',
       'DW_DEPOSIT_FTP_FCT', 'DW_FOREX_FCT',
       'DWD_INTERNATIONAL_TRANSFER_FCT', 'DW_CARD_ATM_DIM',
       'DW_CARD_POS_DIM', 'DW_CARD_TERMINAL_SALE_FCT',
       'DW_CARD_MERCHANT_TXN_FCT', 'DWD_REMITTANCE_FCT',
       'DW_REMITTANCE_TYPE_DIM', 'DW_REMITTANCE_PARTNER_DIM',
       'DW_EB_ALERT_SUBSCRIPT_ACCOUNT', 'DW_NAT_OCCUPATION_DIM',
       'DW_ORG_AREA_DIM', 'DW_ORG_COMPANY_DIM', 'DW_PRODUCT_TYPE_DIM',
       'DW_PRODUCT_DIM', 'DWA_CUSTOMER_BY_PRODUCT_FCT',
       'DW_AC_LOCKED_EVENTS_FCT', 'DWA_CUST_TOI_FCT',
       'DW_CUST_PRODUCT_LOC_FCT', 'DW_TIME_DAY_DIM', 'DW_EWALL_USER_DIM',
       'DW_LOAN_FCT', 'DW_EB_PERIODIC_FEE_FCT',
       'DW_EB_CUSTOMER_GROUP_DIM', 'DW_EB_ENTRY_LIMIT_DIM',
       'DW_EB_CUSTOMER_LIMIT_DIM', 'DWA_DOMESTIC_PAYMENT_FCT',
       'DW_NAS_SMS_TRANSACTION_FCT', 'DW_EB_USER_MAINTANANCE',
       'DW_TELLER_FCT', 'DW_LD_SCHEDULE_HIS_FCT', 'DW_EB_USER_DIM',
       'DW_USERT24_DIM', 'DW_LOAN_FTP_FCT', 'DW_INS_REFERAL_NB_DIM',
       'DW_INS_FEE_FCT', 'DW_INS_TRANFER_FCT',
       'DW_EB_TXN_FILE_UPLOAD_FCT', 'DW_CUST_LEVEL_FCT',
       'DW_EB_UTTT_PRODUCT_DIM', 'DW_EB_FILE_UPLOAD_FCT',
       'DW_CARD_MCC_DIM', 'DW_EB_ALERT_TYPE_DIM', 'DW_SBVCODE_DIM',
       'DWD_CUSTOMER_BY_DBGRP_FCT', 'DWL_NOPROD_4P_DIM',
       'DWD_CUSTOMER_BY_4P_FCT'], dtype=object)

In [13]:
df1[df1['TABLE_NAME'].apply(lambda x: 'DW_DATA_SOURCE' in x)]['TABLE_NAME'].unique()

array([], dtype=object)